.modal-window {
    position: fixed;
    background-color: rgba(255, 255, 255, 0.25);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    opacity: 1;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  
  .modal-window > div {
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    padding: 2em;
    background: #ffffff;
  }
  
  .modal-window header {
    font-weight: bold;
  }
  
  .modal-window h1 {
    font-size: 150%;
    margin: 0 0 15px;
  }
  
  .modal-close {
    color: #aaa;
    line-height: 50px;
    font-size: 80%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 70px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .modal-close:hover {
    color: black;
  }
  
  /* Demo Styles */
  
  .container {
    display: grid;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
  }
  .overlyer {
    position: absolute !important;
    height: 100% !important;
    width: 100% !important;
    top: 0 !important;
    left: 0 !important;
    opacity: 0.5 !important;
    background-color: black !important;
    z-index: 0 !important;
    -webkit-transform: translate(0, 0) !important;
    transform: translate(0, 0) !important;
  }
  
  .delete-post {
    top: -10px;
    right: -10px;
    position: absolute;
    z-index: 10;
    cursor: pointer;
  }
  .loader,
  .loader:before,
  .loader:after {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: load7 1.8s infinite ease-in-out;
    animation: load7 1.8s infinite ease-in-out;
  }
  .loader {
    color: #ffffff;
    font-size: 5px;
    margin: 0 auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    margin-bottom: 15px;
    margin-top: -10px;
  }
  .loader:before,
  .loader:after {
    content: "";
    position: absolute;
    top: 0;
  }
  .loader:before {
    left: -3.5em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }
  .loader:after {
    left: 3.5em;
  }
  @-webkit-keyframes load7 {
    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
      box-shadow: 0 2.5em 0 0;
    }
  }
  @keyframes load7 {
    0%,
    80%,
    100% {
      box-shadow: 0 2.5em 0 -1.3em;
    }
    40% {
      box-shadow: 0 2.5em 0 0;
    }
  }
  .jobs .job-card {
    float: left;
    padding: 0 1.7rem;
    width: 50%;
    margin-bottom: 50px;
    min-height: 300px;
  }
  .jobs .job-card .menu-content {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  .jobs .job-card .menu-content::before,
  .jobs .job-card .menu-content::after {
    content: "";
    display: table;
  }
  .jobs .job-card .menu-content::after {
    clear: both;
  }
  .jobs .job-card .menu-content li {
    display: inline-block;
  }
  .jobs .job-card .menu-content a {
    color: #fff;
  }
  .jobs .job-card .menu-content span {
    position: absolute;
    left: 50%;
    top: 0;
    font-size: 10px;
    font-weight: 700;
    font-family: "Open Sans";
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  .jobs .job-card .wrapper {
    background-color: #fff;
    min-height: 300px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
  }
  .jobs .job-card .wrapper:hover .data {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .jobs .job-card .data {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* -webkit-transform: translateY(calc(70px + 1em));
    transform: translateY(calc(70px + 1em)); */
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    z-index: 1;
  }
  .jobs .job-card .wrapper:hover .content {
    height: 200px;
    transition: height 0.25s ease-out;
  }
  .jobs .job-card .data .content {
    padding: 1em;
    padding-top: 27px;
    position: relative;
    z-index: 1;
    height: 120px;
    transition: height 0.25s ease-out;
  }
  .jobs .job-card .author {
    font-family: "Grotesque Black", sans-serif;
    font-size: 12px;
    color: #ffffff;
  }
  .jobs .job-card .title {
    font-family: "Grotesque Black", sans-serif;
    margin-top: 10px;
    color: #ffffff;
  }
  .jobs .job-card .text {
    font-family: "Grotesque Black", sans-serif;
    height: 70px;
    margin: 0;
    color: #ffffff;
  }
  .jobs .job-card input[type="checkbox"] {
    display: none;
  }
  .jobs .job-card input[type="checkbox"]:checked + .menu-content {
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px);
  }
  
  .jobs .example-1 .wrapper {
    background: 50% 1% / cover no-repeat;
  }
  
  .jobs .example-1 .wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 0;
    opacity: 0.7;
    background: linear-gradient(to right, #163f6d, #28b98e);
  }
  .jobs .example-1 .date {
    position: absolute;
    top: 0;
    left: 0;
    background-color: #77d7b9;
    color: #fff;
    padding: 0.8em;
    z-index: 1;
  }
  .jobs .example-1 .date span {
    display: block;
    text-align: center;
  }
  .jobs .example-1 .date .day {
    font-weight: 700;
    font-size: 24px;
    text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.18);
  }
  .jobs .example-1 .date .month {
    text-transform: uppercase;
  }
  .jobs .example-1 .date .month,
  .jobs .example-1 .date .year {
    font-size: 12px;
  }
  .jobs .example-1 .content {
    box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
  }
  .jobs .example-1 .title a {
    color: gray;
  }
  .jobs .example-1 .menu-button {
    position: absolute;
    z-index: 999;
    top: 4px;
    right: 4px;
    width: 25px;
    text-align: center;
    cursor: pointer;
  }
  .jobs .example-1 .apply {
    position: absolute;
    z-index: 999;
    top: 4px;
    right: 4px;
    text-align: center;
    cursor: pointer;
  }
  .jobs .example-1 .menu-button span {
    width: 5px;
    height: 5px;
    background-color: gray;
    color: gray;
    position: relative;
    display: inline-block;
    border-radius: 50%;
  }
  .jobs .example-1 .menu-button span::after,
  .jobs .example-1 .menu-button span::before {
    content: "";
    display: block;
    width: 5px;
    height: 5px;
    background-color: currentColor;
    position: absolute;
    border-radius: 50%;
  }
  .jobs .example-1 .menu-button span::before {
    left: -10px;
  }
  .jobs .example-1 .menu-button span::after {
    right: -10px;
  }
  .jobs .example-1 .menu-content {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  .jobs .example-1 .menu-content li {
    width: 33.333333%;
    float: left;
    background-color: #77d7b9;
    height: 60px;
    position: relative;
  }
  .jobs .example-1 .menu-content a {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 24px;
  }
  .jobs .example-1 .menu-content span {
    top: -10px;
  }