<div class="container weather" id="wrapper">
    <div class="overlay"></div>
    <div class="container-fluid" id="current-weather">
        <div class="row" style="    overflow: hidden;">
            <div class="col-md-12 col-sm-12">
                <!-- <h5>
                    <span id="cityName">{{cityName}}</span>, <span id="cityCode">{{cityCode}}</span>
                </h5> -->
                <h6 id="localDate">{{localDate}}</h6>
                <h5 id="localTime">{{time}}</h5>
            </div>

            <!-- <div class="col-md-6 col-sm-6">
                <h5>
                    <span id="cityName">{{cityName}}</span>, <span id="cityCode">{{cityCode}}</span>
                </h5>
                <h6 id="localDate">{{localDate}}</h6>
                <h5 id="localTime">{{time}}</h5>
            </div>

            <div class="col-md-6 col-sm-6" style="margin: 10px auto;padding:0;">
                <div class="row">
                    <i class="wi" id="main-icon" style="font-size: 50px;" [ngClass]="main_icon"></i>
                    <div>
                        <span id="mainTemperature">{{mainTemperature}}</span>
                    </div>
                    <p style="font-size: 1.5rem;"><a href="#" class="active" id="celcius">°C</a> | <a href="#"
                            id="farenheit">°F</a></p>
                </div>
                <div class="row">
                    <p id="tempDescription">{{tempDescription}}</p>
                </div>
            </div> -->
        </div>
    </div>
</div>