<main>
    <section class="section pb-0">
        <div class="overlaybg"></div>
        <div class="container landing-block">
            <div class="d-flex px-3">
                <div>
                    <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                        <i class="ni ni-building text-primary"></i>
                    </div>
                </div>
                <div class="pl-4">
                    <h2 class="display-3 mb-6">Nos Evenéments</h2>
                </div>
            </div>
            <section class="section section-lg pt-0 details">
                <div class="container">
                    <div class="">
                        <div class="p-5">
                            <!-- <div class="row align-items-center">
                                <div class="col-lg-8">
                                </div>
                            </div> -->
                            <div id="movie-card-list">
                                <div class="movie-card" data-movie="m1">
                                    <div class="movie-card__overlay"></div>
                                    <div class="movie-card__share">
                                    </div>
                                    <div class="movie-card__content">
                                        <div class="movie-card__header">
                                            <h2 class="movie-card__title">Introduction to Stock Market Investing and Trading</h2>
                                            <h4 class="movie-card__info">by O-Hyphen</h4>
                                        </div>
                                        <p class="movie-card__desc">Sat, December 19, 2020</p>
                                            <p class="movie-card__desc">3:00 PM – 4:30 PM CET</p>
                                        <button class="btn btn-outline movie-card__button" type="button">Visiter <i class="fa fa-external-link-square"
                                            aria-hidden="true"></i></button>
                                    </div>
                                </div>
                                <div class="movie-card" data-movie="m2">
                                    <div class="movie-card__overlay"></div>
                                    <div class="movie-card__share">
                                    </div>
                                    <div class="movie-card__content">
                                        <div class="movie-card__header">
                                            <h2 class="movie-card__title">During Product Interview by LinkedIn Sr PM</h2>
                                            <h4 class="movie-card__info">by Product School</h4>
                                        </div>
                                        <p class="movie-card__desc">Sat, December 19, 2020</p>
                                            <p class="movie-card__desc">8:30 PM – 9:00 PM CET</p>
                                        <button class="btn btn-outline movie-card__button" type="button">Visiter <i class="fa fa-external-link-square"
                                            aria-hidden="true"></i></button>
                                    </div>
                                </div>
                                <div class="movie-card" data-movie="m3">
                                    <div class="movie-card__overlay"></div>
                                    <div class="movie-card__share">
                                    </div>
                                    <div class="movie-card__content">
                                        <div class="movie-card__header">
                                            <h2 class="movie-card__title">Business productivity</h2>
                                            <h4 class="movie-card__info">by Hannah Ebong</h4>
                                        </div>
                                        <p class="movie-card__desc">Sun, December 20, 2020</p><br>
                                            <p class="movie-card__desc">
                                                12:00 PM – 3:00 PM CET</p>
                                        <button class="btn btn-outline movie-card__button" type="button">Visiter <i class="fa fa-external-link-square"
                                            aria-hidden="true"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <!-- SVG separator -->
        <!-- <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div> -->

    </section>
</main>