<main>
    <section class="section pb-0">
        <div class="overlaybg" [ngClass]='bg'></div>
        <div class="container-fluid">
            <div class="row" style="height: 100vh;">
                <div class="col-md-8 mt-9">
                    <div class="container mb-3">
                        <div class="card card-profile shadow mt-9">
                            <div class="px-4">
                                <div class="text-center mt-5">
                                    <h1>Formations</h1>
                                </div>
                                <div class="container">
                                    <h2>Le program des formations sera bientôt disponible
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 illustration" [style.background-image]="img">
                </div>
            </div>
        </div>



        <!-- SVG separator -->
        <!-- <div class="separator separator-bottom separator-skew zindex-100">
            <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                xmlns="http://www.w3.org/2000/svg">
                <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
            </svg>
        </div> -->

    </section>


</main>